<div class="container">
  <div class="card-header bg-black">
    <h1>Quotes </h1>
  </div>
  <div class="row">
   
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequuntur magni at numquam iusto
        asperiores
        nemo eveniet quis rerum?
      </p>
      <div *ngFor='let quote of quotes; let i = index'>
        <h4 id={{i}} appStrikethrough>{{quote.name}} posted on {{quote.completeDate|date}} </h4>
        <button (click)='toggleDetails(i)' class="btn btn-info">Toggle Details</button>
        <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event, i)'></app-quote-detail>
        <!-- <div *ngIf='quote.showDescription'>
          <p>This quote was posted by {{quote.author}}.</p>
          <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event, i)'></app-quote-detail>
          
          <button class="btn btn-secondary" (click)='upVote()'>upVote <span>{{quote.upVotes}}</span></button>
          <button class="btn btn-secondary" (click)='downVote()'>downVote <span>{{downVotes}}</span></button>
        </div> -->
      </div>
    </div>

    <p *ngIf='quotes.length>10'>The Quotes are too many</p>
  </div>
